:root {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

img {
    width: 5vw;
    min-width: 35px;
    max-width: 45px;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;
}

img:hover {
    opacity: 0.5;
}