a.gh-a {
    cursor: pointer;
    position: fixed;
    top: 12px;
    right: 15px;
    z-index: 10;

    img {
        width: 5vw;
        min-width: 35px;
        max-width: 45px;
        opacity: 0.9;
        transition: opacity 0.3s ease-in-out;

        &:hover {
            opacity: 0.5;
        }
    }
}