a.gh-a {
  cursor: pointer;
  position: fixed;
  top: 12px;
  right: 15px;
  z-index: 10;
  transition: filter var(--fade-time) ease-in-out;

  img {
    width: 6vw;
    min-width: 45px;
    max-width: 55px;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }
}

.in-view a.gh-a {
  filter: invert(1);
}