@import "gh_img_btn";
@import "name_section";
@import "scroll_prompt";
@import "snippet";

:root {
    --c1: #030303;
    --c2: #52057B;
    --c3: #892CDC;
    --c4: #e7e7e7;
    --sans-serif-font: "Ubuntu", sans-serif;
    --monospace-font: "Ubuntu Mono", monospace;
}

main#app-wrapper {
    overflow-y: auto;
    overflow-x: hidden;

    &.in-view {
        --c1: invert(var(--c1));
    }
}

.bg {
    transition: background-color 0.25s ease-in-out;
    position: fixed;
    background-color: var(--c1);
    width: 100lvw;
    height: 100lvh;
    z-index: -1;
}

body {
    font-family: var(--sans-serif-font);
    font-optical-sizing: auto;
    color: var(--c4);
    animation: 0.3s ease-in-out fade-in;
    scrollbar-width: thin;
    margin: auto;
}

.mono {
    font-family: var(--monospace-font);
}

.flex-wrapper {
    width: 100lvw;
    display: flex;
    justify-content: center;
}

.spacer {
    display: block;
    height: 160lvh;
}