@import "gh_img_btn";
@import "name_section";
@import "scroll_prompt";
@import "snippet";
@import "project_entry";
@import "string_set";
@import "repo_updates";

@mixin fade-up-children($duration: 0.5s, $delay-step: 0.1s, $children: 1) {
  & > * {
    animation: $duration fade-up ease-in-out forwards;

    @keyframes fade-up {
      0% {
        opacity: 0;
        transform: translateY(30px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  @for $i from 1 through $children {
    & > *:nth-child(#{$i}) {
      transform: translate(0, 0);
      opacity: 0;
      animation-delay: ($i - 1) * $delay-step;
    }
  }
}

:root {
  --c1: #030303;
  --c2: #00f16b;
  --c3: #F10086;
  --c4: #e7e7e7;
  --c5: #d2b915;
  --c6: #070707;
  --sans-serif-font: "Ubuntu", sans-serif;
  --monospace-font: "Ubuntu Mono", monospace;
  --fade-time: 0.2s;
}

html {
  scroll-behavior: smooth;
}

main#app-wrapper {
  overflow-y: visible;
  overflow-x: hidden;
  transition: background-color var(--fade-time) ease-in-out;
  background-color: var(--c1);
  width: 100lvw;
  height: max-content;

  &.in-view {
    --c1: invert(var(--c1));
  }
}

body {
  font-family: var(--sans-serif-font);
  font-optical-sizing: auto;
  color: var(--c4);
  scrollbar-width: thin;
  margin: auto;
}

.mono {
  font-weight: normal;
  font-family: var(--monospace-font);
}

.flex-wrapper {
  width: 100lvw;
  display: flex;
  justify-content: center;
}

.spacer {
  display: block;
  height: 660lvh;
}

#content-wrapper {
  opacity: 1;
  position: absolute;
  top: 500px;
  width: 75%;
  transition: opacity var(--fade-time) ease-in-out;
}

.in-view #content-wrapper {
  opacity: 0;
}

#snippets-wrapper {
  border-color: var(--c3);
  margin-top: 35px;
  margin-bottom: 65px;
}

.abstract {
  color: var(--c2);
  border-color: var(--c2);
  font-size: clamp(18px, 2lvw, 21px);
  margin-top: 60px;
}

.side-border {
  box-sizing: border-box;
  border-right: 4px solid;
  transition: border-right-width 0.12s ease-in-out;

  &:hover {
    border-right-width: 7px;
  }
}

div.projects-wrapper {
  margin-top: 100px;
}

.section {
  position: relative;
  text-align: center;
  font-weight: normal;
  font-size: clamp(42px, 1.2lvw, 48px);

  &::after {
    content: " ";
    margin: 0;
    border-bottom: 5px solid var(--c2);
    width: 75px;
    margin-top: 16px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.fade-up-children-6 {
  @include fade-up-children(0.45s, 0.1s, 6);
}

.fade-in-children {
  opacity: 0;
  animation: 0.4s fade-in ease-in-out forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

div.section-nav {
  filter: invert(1);
  position: absolute;
  top: 2lvh;
  text-align: center;

  & > a {
    color: var(--c1);
    user-select: hover !important;
    display: inline-block;
    padding: 20px;
    font-size: clamp(23px, 1.4lvw, 31px);
  }
}