:root {
    --c1: #030303;
    --c2: #52057B;
    --c3: #892CDC;
    --c4: #e7e7e7;
    --sans-serif-font: "Ubuntu", sans-serif;
    --monospace-font: "Ubuntu Mono", monospace;

    font-family: var(--sans-serif-font);
    font-optical-sizing: auto;
    color: var(--c4);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: max-content;
    background-color: var(--c1);
    overflow-y: visible;
    margin: auto;
    border: none;
    left: 0;
    top: 0;
    animation: 0.3s ease-in-out fade-in;
    filter: invert(1);
    scrollbar-width: thin;
}

* {
    margin: auto;
}

.mono {
    font-family: var(--monospace-font);
}

div.app-wrapper {
    width: 70%;
}

div.spacer {
    height: 500px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}