:root {
    --c1: black;
    --c2: #52057B;
    --c3: #892CDC;
    --c4: #BC6FF1;
    --sans-serif-font: "Ubuntu", sans-serif;
    --monospace-font: "Ubuntu Mono", monospace;

    font-family: var(--sans-serif-font);
    font-optical-sizing: auto;
    color: var(--c4);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--c1);
    overflow: hidden;
    margin: auto;
    border: none;
    left: 0;
    top: 0;
}

* {
    margin: auto;
    animation: 1s ease-in-out fade-in;
}

.mono {
    font-family: var(--monospace-font);
}

div.app-wrapper {
    width: 70%;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}