@import "gh_img_btn";
@import "name_section";
@import "scroll_prompt";
@import "snippet";
@import "project_entry";
@import "string_set";

:root {
  --c1: #030303;
  --c2: #00f16b;
  --c3: #F10086;
  --c4: #e7e7e7;
  --c5: #d2b915;
  --c6: #070707;
  --sans-serif-font: "Ubuntu", sans-serif;
  --monospace-font: "Ubuntu Mono", monospace;
  --fade-time: 0.2s;
}

main#app-wrapper {
  overflow-y: visible;
  overflow-x: hidden;
  transition: background-color var(--fade-time) ease-in-out;
  background-color: var(--c1);
  width: 100lvw;
  height: max-content;

  &.in-view {
    --c1: invert(var(--c1));
  }
}

body {
  font-family: var(--sans-serif-font);
  font-optical-sizing: auto;
  color: var(--c4);
  animation: 0.3s ease-in-out fade-in;
  scrollbar-width: thin;
  margin: auto;
}

.mono {
  font-weight: normal;
  font-family: var(--monospace-font);
}

.flex-wrapper {
  width: 100lvw;
  display: flex;
  justify-content: center;
}

.spacer {
  display: block;
  height: 660lvh;
}

#content-wrapper {
  opacity: 1;
  position: absolute;
  top: 500px;
  width: 75%;
  transition: opacity var(--fade-time) ease-in-out;
}

.in-view #content-wrapper {
  opacity: 0;
}

#snippets-wrapper {
  border-color: var(--c3);
  margin-top: 35px;
  margin-bottom: 65px;
}

.abstract {
  color: var(--c2);
  border-color: var(--c2);
  font-size: clamp(21px, 2lvw, 26px);
  margin-top: 60px;
}

.side-border {
  box-sizing: border-box;
  border-right: 4px solid;
  transition: border-right-width 0.12s ease-in-out;

  &:hover {
    border-right-width: 7px;
  }
}

div.projects-wrapper {
  margin-top: 100px;
}

.section {
  position: relative;
  text-align: center;
  font-weight: normal;
  font-size: clamp(42px, 1.2lvw, 48px);

  &::after {
    content: " ";
    margin: 0;
    border-bottom: 5px solid var(--c2);
    width: 75px;
    margin-top: 16px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}