#name-section-wrapper {
  filter: invert(1);
  font-size: 17px;
  height: min-content;
  text-align: left;
  top: 0;
  z-index: 5;

  .title {
    color: var(--c4);
    user-select: none;
    filter: invert(1);

    .prefix {
      color: black;
      background-color: var(--c4);
      font-weight: bold;
      margin-right: 25px;
      padding: 6px 13px;
      font-size: clamp(27px, 3lvw, 55px);
    }

    .name-wrapper {
      display: none;
      font-weight: normal;
    }
  }
}

.in-view #name-section-wrapper {
  background: none;
  font-size: clamp(23px, 3vw, 36px);
  filter: invert(0);
  position: initial;
  display: flex;
  width: 90lvw;
  z-index: -1;

  .title {
    margin-top: max(65px, 30lvh);

    .prefix {
      font-size: inherit;
    }

    .name-wrapper {
      display: initial;
    }
  }
}