div.project-entry-item {
  margin-bottom: 5px;

  div.project-content {
    margin-bottom: 80px;
  }

  div.project-info-wrapper {
    $pad: 6px;

    display: inline-block;
    margin-bottom: 15px;
    transition: background 0.12s ease-in-out, border-color 0.12s ease-in-out;
    padding: $pad;
    cursor: pointer;
    width: calc(100% - 10px);
    user-select: none;
    border: 2px solid transparent;
    border-radius: 7px;

    .project-name {
      font-size: clamp(35px, 1.1lvw, 42px);
      font-size: 45px;
      border-color: var(--c2);
      transition: all 0.12s ease-in-out;
    
      &::after {
        content: "::";
        color: var(--c2);
      }
    }

    span.project-version {
      font-style: italic;
      font-size: clamp(22px, 1.2lvw, 26px);
      color: var(--c1);
      background-color: var(--c5);
      padding: $pad;
      position: absolute;
      right: 13.5%;
      transform: translateY(4px);
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.025);
      border-color: rgba(255, 255, 255, 0.1);

      .project-name {
        margin-left: 8px;
      }
    }
  }

  $font-size-std: clamp(17px, 1.3vw, 23px);

  .value {
    font-size: $font-size-std;
  }

  p.project-desc {
    font-size: $font-size-std;
    opacity: 0.7;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 8px;
  }

  div.project-links {
    font-size: clamp(18px, 1.1vw, 22px);
    margin-top: 30px;

    div.link-entry {
      font-style: italic;
      margin-top: 15px;

      & > a {
        color: var(--c3);
        transition: color 0.1s ease-in-out;

        &:hover {
          color: var(--c5);
        }
      }

      & > .link-title {
        font-style: normal;
        margin-right: 20px;
      }
    }
  }

  div.image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: inherit;
    height: inherit;

    img.current-image {
      cursor: pointer;
      border-radius: 10px;
      user-select: none;
      object-fit: cover;
      width: 60%;
      min-width: 250px;
      max-width: 700px;
      margin-bottom: 10px;
    }

    .image-content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 18px;
      width: 100%;
    }

    button.image-switch-button {
      cursor: pointer;
      font-size: clamp(25px, 5lvw, 45px);
      color: var(--c1);
      background-color: var(--c4);
      padding: 8px;
      outline: none;
      border: none;
      box-shadow: none;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.5;
      }

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }

    span.indicator-element {
      user-select: none;
      padding: 6px;
      font-size: 30px;
      transition: color 0.2s ease-in-out;

      &.selected {
        color: var(--c2);
      }
    }
  }
}