#snippets-wrapper {
  border-right: 2px solid var(--c4);
}

.snippet-wrapper {
  padding: 15px;
  border-radius: 8px;
  font-size: clamp(20px, 2lvw, 24px);

  .property {
    margin-bottom: 8px;
    color: var(--c4);

    span {
      user-select: none;
      margin-right: 10px;
    }
  }

  .value {
    color: var(--c3);
  }
}