.snippet-wrapper {
  padding: 15px 15px 15px 0;
  font-size: clamp(20px, 2lvw, 24px);

  .property {
    margin-bottom: 8px;
    color: var(--c4);

    span {
      user-select: none;
      margin-right: 10px;
    }
  }
}