@charset "UTF-8";
a.gh-a {
  cursor: pointer;
  position: fixed;
  top: 12px;
  right: 15px;
  z-index: 10;
  transition: filter var(--fade-time) ease-in-out;
}
a.gh-a img {
  width: 6vw;
  min-width: 45px;
  max-width: 55px;
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;
}
a.gh-a img:hover {
  opacity: 0.5;
}

.in-view a.gh-a {
  filter: invert(1);
}

#name-section-wrapper {
  filter: invert(1);
  height: min-content;
  top: 21px;
  left: 15px;
  position: fixed;
  z-index: 5;
}
#name-section-wrapper .title {
  color: var(--c4);
  user-select: none;
  filter: invert(1);
}
#name-section-wrapper .title .prefix {
  color: black;
  background-color: var(--c4);
  font-weight: bold;
  margin-right: 25px;
  padding: 6px 13px;
  font-size: clamp(30px, 3lvw, 57px);
}
#name-section-wrapper .title .name-wrapper {
  display: none;
  font-weight: normal;
}

.in-view #name-section-wrapper {
  background: none;
  font-size: clamp(50px, 6lvw, 73px);
  filter: invert(0);
  position: absolute;
  left: 5%;
  display: flex;
  z-index: -1;
}
.in-view #name-section-wrapper .title {
  margin-top: max(65px, 30lvh);
}
.in-view #name-section-wrapper .title .prefix {
  font-size: inherit;
}
.in-view #name-section-wrapper .title .name-wrapper {
  display: initial;
}

div#scroll-prompt-wrapper {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  text-align: center;
  position: fixed;
  bottom: 40px;
  display: flex;
  justify-content: center;
  width: 100vw;
}
div#scroll-prompt-wrapper .scroll-prompt {
  font-size: clamp(25px, 4vw, 30px);
}

.in-view div#scroll-prompt-wrapper {
  opacity: 1;
}
.in-view div#scroll-prompt-wrapper .scroll-prompt {
  user-select: none;
  color: black;
  opacity: 0.7;
  animation: 3s hover ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}

.snippet-wrapper {
  padding: 15px 15px 15px 0;
  font-size: clamp(20px, 2lvw, 24px);
}
.snippet-wrapper .property {
  margin-bottom: 8px;
  color: var(--c4);
}
.snippet-wrapper .property span {
  user-select: none;
  color: var(--c2);
}

div.project-entry-item {
  margin-bottom: 5px;
}
div.project-entry-item div.project-content {
  margin-bottom: 80px;
}
div.project-entry-item div.project-info-wrapper {
  display: inline-block;
  margin-bottom: 15px;
  transition: background 0.12s ease-in-out, border-color 0.12s ease-in-out;
  padding: 6px;
  cursor: pointer;
  width: calc(100% - 10px);
  user-select: none;
  border: 2px solid transparent;
  border-radius: 7px;
}
div.project-entry-item div.project-info-wrapper .project-name {
  font-size: clamp(35px, 1.1lvw, 42px);
  font-size: 45px;
  border-color: var(--c2);
  transition: all 0.12s ease-in-out;
}
div.project-entry-item div.project-info-wrapper .project-name::after {
  content: "::";
  color: var(--c2);
}
div.project-entry-item div.project-info-wrapper span.project-version {
  font-style: italic;
  font-size: clamp(22px, 1.2lvw, 26px);
  color: var(--c1);
  background-color: var(--c5);
  padding: 6px;
  position: absolute;
  right: 13.5%;
  transform: translateY(4px);
}
div.project-entry-item div.project-info-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.025);
  border-color: rgba(255, 255, 255, 0.1);
}
div.project-entry-item div.project-info-wrapper:hover .project-name {
  margin-left: 8px;
}
div.project-entry-item .value {
  font-size: clamp(17px, 1.3vw, 23px);
}
div.project-entry-item p.project-desc {
  font-size: clamp(17px, 1.3vw, 23px);
  opacity: 0.7;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-right: 8px;
}
div.project-entry-item div.project-links {
  font-size: clamp(18px, 1.1vw, 22px);
  margin-top: 30px;
}
div.project-entry-item div.project-links div.link-entry {
  font-style: italic;
  margin-top: 15px;
}
div.project-entry-item div.project-links div.link-entry > a {
  color: var(--c3);
  transition: color 0.1s ease-in-out;
}
div.project-entry-item div.project-links div.link-entry > a:hover {
  color: var(--c5);
}
div.project-entry-item div.project-links div.link-entry > .link-title {
  font-style: normal;
  margin-right: 20px;
}
div.project-entry-item div.image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: inherit;
  height: inherit;
}
div.project-entry-item div.image-wrapper img.current-image {
  cursor: pointer;
  border-radius: 10px;
  user-select: none;
  object-fit: cover;
  width: 60%;
  min-width: 250px;
  max-width: 700px;
  margin-bottom: 10px;
}
div.project-entry-item div.image-wrapper .image-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 100%;
}
div.project-entry-item div.image-wrapper button.image-switch-button {
  cursor: pointer;
  font-size: clamp(25px, 5lvw, 45px);
  color: var(--c1);
  background-color: var(--c4);
  padding: 8px;
  outline: none;
  border: none;
  box-shadow: none;
  transition: opacity 0.3s ease-in-out;
}
div.project-entry-item div.image-wrapper button.image-switch-button:hover {
  opacity: 0.5;
}
div.project-entry-item div.image-wrapper button.image-switch-button.left {
  left: 0;
}
div.project-entry-item div.image-wrapper button.image-switch-button.right {
  right: 0;
}
div.project-entry-item div.image-wrapper span.indicator-element {
  user-select: none;
  padding: 6px;
  font-size: 30px;
  transition: color 0.2s ease-in-out;
}
div.project-entry-item div.image-wrapper span.indicator-element.selected {
  color: var(--c2);
}

.value {
  color: var(--c5);
  overflow-wrap: break-word;
}
.value span.bracket-token.left {
  padding-right: 7px;
}
.value span.bracket-token.right {
  padding-left: 7px;
}
.value span.str-token {
  color: var(--c3);
}
.value span.comma-token {
  color: inherit;
  padding-right: 7px;
}

div.repo-updates-wrapper {
  margin-top: 60px;
  width: 100%;
  display: inline-block;
  font-size: clamp(20px, 1.4lvw, 24px);
  text-align: center;
}
div.repo-updates-wrapper .dev-credit::before {
  color: var(--c2);
  content: "©";
  padding-right: 10px;
  font-family: var(--sans-serif-font);
}
div.repo-updates-wrapper .dash {
  color: var(--c2);
  user-select: none;
}
div.repo-updates-wrapper .date {
  padding-left: 15px;
}
div.repo-updates-wrapper .repo-license, div.repo-updates-wrapper .last-commit, div.repo-updates-wrapper .commit-not-loaded {
  padding: 15px;
  color: var(--c3);
}
div.repo-updates-wrapper .repo-license::before, div.repo-updates-wrapper .repo-license::after, div.repo-updates-wrapper .last-commit::before, div.repo-updates-wrapper .last-commit::after, div.repo-updates-wrapper .commit-not-loaded::before, div.repo-updates-wrapper .commit-not-loaded::after {
  color: var(--c5);
}
div.repo-updates-wrapper .repo-license::before, div.repo-updates-wrapper .last-commit::before, div.repo-updates-wrapper .commit-not-loaded::before {
  content: "[";
}
div.repo-updates-wrapper .repo-license::after, div.repo-updates-wrapper .last-commit::after, div.repo-updates-wrapper .commit-not-loaded::after {
  content: "]";
}

div.img-modal-wrapper {
  background-color: rgba(0, 0, 0, 0.85);
  width: 100lvw;
  height: 100lvh;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(5px);
}
div.img-modal-wrapper > img {
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  width: 70%;
  min-width: 400px;
}
div.img-modal-wrapper > div.img-title {
  margin-bottom: 15px;
  font-size: clamp(20px, 1.6lvw, 30px);
}
div.img-modal-wrapper > div.prompt {
  color: var(--c5);
  margin-top: 3lvh;
  font-size: clamp(16px, 1.5lvw, 25px);
}

:root {
  --c1: #030303;
  --c2: #00f16b;
  --c3: #F10086;
  --c4: #e7e7e7;
  --c5: #d2b915;
  --sans-serif-font: "Ubuntu", sans-serif;
  --monospace-font: "Ubuntu Mono", monospace;
  --fade-time: 0.2s;
}

html {
  scroll-behavior: smooth;
}

main#app-wrapper {
  transition: background-color var(--fade-time) ease-in-out;
  background-color: var(--c1);
  width: 100lvw;
  height: max-content;
}
main#app-wrapper.in-view {
  --c1: invert(var(--c1));
}

body {
  overflow-y: visible;
  overflow-x: hidden;
  font-family: var(--sans-serif-font);
  font-optical-sizing: auto;
  color: var(--c4);
  scrollbar-width: thin;
  margin: auto;
}

.mono {
  font-weight: normal;
  font-family: var(--monospace-font);
}

.flex-wrapper {
  width: 100lvw;
  display: flex;
  justify-content: center;
}

#content-wrapper {
  margin-bottom: 20px;
  margin-top: 500px;
  opacity: 1;
  width: 75%;
  transition: opacity var(--fade-time) ease-in-out;
}

.in-view #content-wrapper {
  opacity: 0;
}

#snippets-wrapper {
  border-color: var(--c3);
  margin-top: 35px;
  margin-bottom: 65px;
}

.abstract {
  display: block;
  color: var(--c2);
  border-color: var(--c2);
  font-size: clamp(18px, 2lvw, 21px);
  margin-top: 60px;
}

.side-border {
  box-sizing: border-box;
  border-right: 4px solid;
  transition: border-right-width 0.12s ease-in-out;
}
.side-border:hover {
  border-right-width: 7px;
}

div.projects-wrapper {
  margin-top: 100px;
}

.section {
  position: relative;
  text-align: center;
  font-weight: normal;
  font-size: clamp(42px, 1.2lvw, 48px);
}
.section::after {
  content: " ";
  margin: 0;
  border-bottom: 5px solid var(--c2);
  width: 75px;
  margin-top: 16px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.fade-up-children-6 > * {
  animation: 0.45s fade-up ease-in-out forwards;
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-up-children-6 > *:nth-child(1) {
  transform: translate(0, 0);
  opacity: 0;
  animation-delay: 0s;
}
.fade-up-children-6 > *:nth-child(2) {
  transform: translate(0, 0);
  opacity: 0;
  animation-delay: 0.1s;
}
.fade-up-children-6 > *:nth-child(3) {
  transform: translate(0, 0);
  opacity: 0;
  animation-delay: 0.2s;
}
.fade-up-children-6 > *:nth-child(4) {
  transform: translate(0, 0);
  opacity: 0;
  animation-delay: 0.3s;
}
.fade-up-children-6 > *:nth-child(5) {
  transform: translate(0, 0);
  opacity: 0;
  animation-delay: 0.4s;
}
.fade-up-children-6 > *:nth-child(6) {
  transform: translate(0, 0);
  opacity: 0;
  animation-delay: 0.5s;
}

.fade-in-children {
  opacity: 0;
  animation: 0.4s fade-in ease-in-out forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

div.section-nav {
  filter: invert(1);
  position: absolute;
  top: 2lvh;
  text-align: center;
}
div.section-nav > a {
  color: var(--c1);
  user-select: hover !important;
  display: inline-block;
  padding: 20px;
  font-size: clamp(23px, 1.4lvw, 31px);
}
